<div ng-switch='component.schema.libraryType' class='onsite-inputs'>
	<div ng-switch-when='Component-Based'>
	  <div class="card" ng-repeat='section in component.schema.sections track by $index' ng-hide="section.view.isHidden">
		  <div class="item item-divider">
		    {{section.name}}
		  </div>
		  <div class="item item-input" ng-repeat="input in section.inputs track by $index" ng-hide="component.state[input.alias].isHidden" ng-class="{'item-select': component.state[input.alias].options.length > 1}">
		     <span class="input-label" ng-class="{'memo-label': input.keyboard == 'memo'}">{{input.name}}</span>
	 
		     <input  ng-hide='component.state[input.alias].options.length > 1 || input.keyboard == "memo"' type='{{input.keyboard && input.keyboard == "number" ? "tel":"text"}}'
		             placeholder='{{input.name}}' ng-model='component.values[input.alias]' data-index='{{$index}}' ng-class="{'has-units': input.units && input.units.length < 6, 'has-units-large': input.units && input.units.length >= 6}"
		             ng-readonly="input.restricted == '1'" 
				     ng-blur='onInputBlur(component.values[input.alias], input)'
				     ng-focus='onInputFocus(component.values[input.alias])' clear-button="input.restricted != 1"> 
					 
		     <textarea  ng-show='input.keyboard == "memo"' rows='5'
		             placeholder='{{input.name}}' ng-model='component.values[input.alias]' ng-readonly="input.restricted == '1'" 
				     ng-blur='onInputBlur(component.values[input.alias], input)' data-index='{{$index}}'
				     ng-focus='onInputFocus(component.values[input.alias])'></textarea>

		     <select ng-show='component.state[input.alias].options.length > 1' ng-model='component.values[input.alias]' 
		             ng-change="onInputChange(input)" ng-options="o for o in component.state[input.alias].options" 
				  	 data-index='{{$index}}' advance-on-change>
			 </select>
	 
	 		<div class='input-accessories'>
			 	<button class="button button-dark button-clear" ng-show='input.units'>
			     {{input.units}}
			   </button>
		   </div>
		   </div>
	   </div>
	</div>

	<div ng-switch-when='Descriptive'>
	  <div class="card" ng-repeat='section in component.schema.sections' ng-hide="section.view.isHidden">
		  <div class="item item-divider">
		    {{section.name}}
		  </div>
		  <div class="item item-input" ng-repeat="input in section.inputs" ng-hide="component.state[input.alias].isHidden" ng-class="{'item-select': component.state[input.alias].options.length > 1}">
		     <span class="input-label" ng-class="{'memo-label': input.keyboard == 'memo'}">{{input.name}}</span>
	 
		     <input  ng-hide='component.state[input.alias].options.length > 1 || input.keyboard == "memo"' type='{{input.keyboard && input.keyboard == "number" ? "tel":"text"}}' 
		             placeholder='{{input.name}}' ng-model='project.values[input.alias]' ng-class="{'has-units': input.units && input.units.length < 6, 'has-units-large': input.units && input.units.length >= 6}"
		             ng-readonly="input.restricted == '1'" 
				     ng-blur='onInputBlur(project.values[input.alias], input)' data-index='{{$parent.$index + "." + $index}}'
				     ng-focus='onInputFocus(project.values[input.alias])' clear-button='input.restricted != 1'> 
					 
		     <textarea  ng-show='input.keyboard == "memo"' rows='5'
		             placeholder='{{input.name}}' ng-model='project.values[input.alias]' ng-readonly="input.restricted == '1'" 
				     ng-blur='onInputBlur(project.values[input.alias], input)' data-index='{{$parent.$index + "." + $index}}'
				     ng-focus='onInputFocus(project.values[input.alias])'></textarea>

		     <select ng-show='component.state[input.alias].options.length > 1' ng-model='project.values[input.alias]' 
		             ng-change="onInputChange(input)" ng-options="o for o in component.state[input.alias].options" 
				  	 data-index='{{$parent.$index + "." + $index}}' advance-on-change> 
			 </select>
	 
	   		<div class='input-accessories'>
	  		 	<button class="button button-dark button-clear" ng-show='input.units'>
	  		     {{input.units}}
	  		   </button>
	  	   </div>
			 
		   </div>
	   </div>
	</div>
</div>
