<ion-content class="login-page" scroll="false">
   <div class="row row-bottom">
    <div class="col col-50 col-offset-25">
		<div class='login-box center-align'>
			<img class="logo" src='./img/Logo.png'></img>
			<div class="list" style='margin-top:0'>
			  <label class="item item-input">
			    <input type="text" placeholder="Email" ng-model='user.name'>
			  </label>
			  <label class="item item-input">
			    <input type="password" placeholder="Password" ng-model='user.password'>
			  </label>
			</div>	
			<button class="button button-full button-stable" ng-click='login()'>
			  Login
			</button>
            <div ng-show='status' class='italic' ng-class="{'login-error': status !== 'Logging In...'}">
                {{status}}
            </div>	
		</div>		
    </div>
  </div>
  <div class='row row-bottom' style='height: calc(100% - 505px)'>
  	<div class='col' >
  		<a class="button button-icon icon ion-gear-a pull-right" ng-click='showServerSelect()'></a>
  	</div>
  </div>
</ion-content>
