<ion-view title="Projects">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-plus-round" ng-click='dialogOpen()'></button>
  </ion-nav-buttons>
  <ion-content class="has-header" scroll='false'>
	<div class="row height-100">
	  <ion-scroll class="col-25 height-100">
  		<div class="card" ng-repeat="tag in tags" ng-click='view.activeTag = tag'>
  		  <div class="item item-text-wrap"  ng-class="{selected: tag === view.activeTag}">
  		    {{tag}}
  		  </div>
  		</div>
	  </ion-scroll>
	  <ion-scroll class="col height-100">
		  <ion-list class='card-list' ng-show='view.activeTag'>		  
	      	<ion-item ng-repeat="item in items | filter: {tag: view.activeTag}" item="item" href="#/app/project/{{item._id}}">
		        <div class='bold'>{{item.name}}</div>
		   	 	<div class='italic'>Last Update: {{item.updated | date:'longDate'}}</div>
		        <ion-option-button class="button-assertive option-button-2" ng-click="deleteItem(item)">Delete</ion-option-button>
				<ion-option-button class="button-dark option-button-2" ng-click="copyProject(item)">Copy</ion-option-button>
		        <ion-option-button class="button-positive option-button-2" ng-click="dialogOpen(item)">Edit</ion-option-button>
		    	<ion-option-button class="button-stable option-button-2" ng-click="downloadDialog(item)">Reports</ion-option-button>
		    </ion-item>
		   </ion-list>
	  </ion-scroll>
  </div>
  </ion-content>
</ion-view>



<!--MODAL DIALOGS -->

<!--ADD NEW -->
<script type="text/ng-template" id="AddNew-Content.html">
	<div class="modal">
		<ion-header-bar>
		  <button class="button button-stable" ng-click='close()'>
		    Close
		  </button>
		  <h1 class="title">{{title}}</h1>
		  <button class="button button-positive" ng-click='ok()' ng-disabled='(!newItem.name || !newItem.tag) &&  (!newItem.template || itemToUpdate)'>
		    Save
		  </button>
		</ion-header-bar>
		<ion-content scroll='false' padding='true' class='overflow-visible'>
		  <div class="list bottom-border">
		    <label class="item item-input">
		      <span class="input-label">Name</span>
		      <input type="text" ng-model='newItem.name' placeholder='Name' tabindex='100' clear-button has-focus='view.firstFocus'>
		    </label>
		    <label class="item item-input autocomplete-label">
		      <span class="input-label">Tag</span>
			  <autocomplete ng-model="newItem.tag" data="tags" on-type="" attr-placeholder='Tag' click-activation='true' class='autocomplete-tag'></autocomplete>
		    </label>	
		    <label class="item item-input item-select" style='z-index: 1' ng-show='view.showTemplates'>
			    <div class="input-label">
			      Template
			    </div>
			    <select ng-model='newItem.template' ng-options='template.name group by template.tag for template in templates'>
			    </select>
			</label>		  
		  </div>
		</ion-content>
	</div>
</script>

<!--REPORTS-->
<script type="text/ng-template" id="reportsDialog.html">
	<div class="modal">
		<ion-header-bar>
		  <button class="button button-stable" ng-click='close()'>
		    Close
		  </button>
		  <h1 class="title">Download Report for {{project.name}}</h1>
		</ion-header-bar>
		<ion-content scroll='false' padding='true' >
		  <div class="list bottom-border">
		    <label class="item item-input  item-select">
		      <span class="input-label">Report</span>
			  	<select ng-model='selectedReport' 
				ng-change='reportChanged(selectedReport)'
				ng-options='report as report.name for report in reports'>
			    </select>
		    </label>
		    <label class="item item-input">
		      <span class="input-label">Name</span>
			  <input type="text" placeholder="Report Name" ng-model='reportName'>
		    </label>			  
		  </div>
		  <a class="button button-block button-positive" ng-disabled='!generatedReport' ng-click='viewReport()'>
		    View Report
		  </a>
		  <a class="button button-block button-stable" ng-disabled='!generatedReport' ng-click='emailReport()'>
		    Email Report
		  </a>
		</ion-content>
	</div>
</script>


