/* Empty. Add your own CSS if you like */
textarea {
   resize: none;
}

.memo-label{
	align-self: baseline;
	-webkit-align-self: baseline;
}
.center-align{
	text-align:center;
}

.login-page{
	background: url("../img/noisy_grid.png");
}

.login-box{
	margin-top: 200px;
	border-radius: 5px;
	background-color: #fff;
	padding: 30px 10px 30px 10px;
	box-shadow: 0 0 40px 5px #444444;
}

.login-box .logo{
	margin-bottom: 10px;
}

.login-box .button{
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
}


.pull-right{
	float:right;
}
/* Inner fade on scrolls */

.fade-scroll .item{
	border-left-width:0;
	border-right-width:0;
}
.fade-scroll .list div:first-child .item:first-child{
	border-top-width:0;
}
.fade-scroll .item:last-child{
	border-bottom-width:0;
}

.fade-scroll {
	border: 1px solid #ddd;
}
/*
.scroll-view::before {
  box-shadow: 0px 15px 10px -15px black inset;
  content: " ";
  width: 100%;
  left: 0;
  position: absolute;
  top: -15px;
  height: 15px;
  z-index:25;
}

*/
.selected{
	color: #ffffff;
	background-color: #0088cc;
}


.card-list > .list{
	margin-top:15px;
}

.card-list .item{
	margin-bottom:20px;
}

.option-button-2{
	line-height: 69px;
}

.bottom-border{
	border-bottom: 1px solid #ddd;
	padding-bottom: 0px;
}

.bold{
	font-weight: bold;
}

.italic{
	font-style:italic;
}

.item-input input{
	font-size:16px;
}

.item-input select{
	font-size:16px;
	padding-left: 1px;
}

.icon-left a{
	max-height:100%;
}
.placeholder-icon:last-child {
   padding-left: 0px;
   z-index:300;
   position:relative;
   -webkit-transform: scale(0.8);
   opacity: .75;
}

/* AUTOCOMPLETE */

.autocomplete-label{
	overflow:visible;
}

.autocomplete-tag{
	width: 100%;
	padding-right: 12px;
	-webkit-flex: 1 0 200px;
	-moz-box-flex: 1;
	-moz-flex: 1 0 200px;
	-ms-flex: 1 0 200px;
	flex: 1 0 200px; 
}

.autocomplete{
  width: 100%;
  position: relative;
}

.autocomplete input{
  padding-right: 0;
}


.autocomplete ul{
  position: absolute;
  left: 0;
  top: 39px;
  width: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  /*border-left: 1px solid #888;
  
  border-bottom: 1px solid #888;
  border-top: 1px solid #888;
  border-radius: 5px;*/
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 0px 2px 2px rgba(0, 0, 0, 0.1);
}

/*---arrow----*/
.autocomplete .arrow{
	color: #fff;
	text-shadow: 0 -4px 3px rgba(0, 0, 0, 0.1);
	position: absolute;
	left: -webkit-calc(50% - 10px);
	font-size: 48px;
	z-index:101;
	top: 10px;
	-webkit-transform: scaleX(1.5);
}

.autocomplete li{
  text-align: left;
  list-style:none;
  width: 100%;
  margin-left: -1px;
  z-index:110;
  position:relative;
}



.autocomplete li.active{
  width: 100%;
  background-color: #4bf;
  
}

.autocomplete .highlight {
  background-color: #E2E2E2;

}

.autocomplete li.active .highlight {
  background: #666;
  color: #fff;
}

.overflow-visible{
	overflow: visible;
}

.notes{
    
}
.notes .card {
    height: calc(100% - 40px);
}

.notes .item, textarea{
    height:100%;
}

.no-padding{
    padding: 0;
}

.right-shadow{
    box-shadow: 2px 0 5px 0px #ddd;
}

.selected .item-content:not(.activated){
	background-color: #0088cc;
}
/* right align selects */
.item-select select {
 position: relative;
 padding: 0; 
 direction: ltr;
 -webkit-flex: 1 1 290px;
 text-overfl0w: ellipsis;
 margin-left: 8px;
}

.input-accessories .button-clear{
	min-height: 0;
	line-height: 22.857118606567383px;
	vertical-align: middle;
	
}

.onsite-inputs .input-accessories {
	text-align: right;
	display: table;
}



.onsite-inputs .item-input .has-units{
	-webkit-flex: 1 0 160px;
	-moz-box-flex: 1;
	-moz-flex: 1 0 160px;
	-ms-flex: 1 0 160px;
	flex: 1 0 160px;
}

.onsite-inputs .item-input .has-units-large{
	-webkit-flex: 1 0 125px;
	-moz-box-flex: 1;
	-moz-flex: 1 0 125px;
	-ms-flex: 1 0 125px;
	flex: 1 0 125px;
}


.height-100{
	height:100%;
}

.height-100 .scroll{
	padding-bottom: 30px;
}

.item-input textarea{
	padding-top: 7px;
}

.item-input input{
	-webkit-flex: 1 0 200px;
	-moz-box-flex: 1;
	-moz-flex: 1 0 200px;
	-ms-flex: 1 0 200px;
	flex: 1 0 200px;
}

.onsite-inputs .card .item.item-input input{
	padding-right: 6px;
}



.image-item img{
	height:300px;
	width:225px;
	display:block;
	float:right;
	border-radius: 4px;
}

.image-item h2{
	line-height: 275px;
	display:block;
	float:left;
}

.image-item h2 .button{
	margin-left: 20px;
	vertical-align: middle;
}

.loading-icon{
	text-align: center;
	font-size: 40px;
}

/* CORRECTIONS */
.scroll-content-false {
	z-index: 4;
}

.fullscreen-modal{
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

.platform-ios.platform-cordova .modal-wrapper .modal.fullscreen-modal .bar-header:not(.bar-subheader){
	height: 64px;
	padding-top: 20px;
}

.platform-ios.platform-cordova .modal-wrapper .modal.fullscreen-modal .title{
	margin-top: 20px;
}

.modal .title{
	margin: 0 60px;
}
